html,
body,
#root {
  font: 1rem sans-serif;
  background: #0a1f44;
  color: #fff;
  height: 100%;
  margin: 0;
}

.main-container {
  background: url("../src/images/forrest.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(226, 189, 189, 0.85);
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(226, 189, 189, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
  list-style: none;
}

.github{
  color: rgb(148, 141, 141);
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }

  .city {
    padding: 40px 20%;
  }
}
